<div id="chat-box">
  <div id='sent-messages'>
  </div>

  <%= form_tag("/send_message", method: "post", remote: true) do %>
    <%= hidden_field_tag :nickname, params[:nickname] %>
    <%= text_field_tag(:message, '', autofocus: true, placeholder: "#{params[:nickname]}, type your message...", required: true) %>
  <% end %>
</div>

<div class="container">
  <%= button_to 'Logout', '/quit_chat', method: :get, class: 'button' %>
</div>
