<div id='sent-messages' style="overflow: scroll; height:200px;">

</div>

<%= form_tag("/send_message", method: "post", remote: true) do %>
  <%= label_tag(:message, "Say something:") %>
  <%= text_field_tag(:message, '', autofocus: true) %>
  <%= submit_tag("Say!") %>
<% end %>