<div id="chat-box">
  <div id='sent-messages'>
  </div>

  <%= form_tag("/send_message", method: "post", remote: true) do %>
    <%= text_field_tag(:message, '', autofocus: true, placeholder: 'Enter your message...') %>
<% end %>
</div>
