<!DOCTYPE html>
<html>
  <head>
    <title>AcChat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>ActionCable::Glorious::ChatForTechLunch</h1>
  <h4>Small chat app to demonstrate Rails 5 ActionCable abilities</h4>
  <%= yield %>
  </body>
</html>
